*, *::after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #dd3636;
    --nav-color: #000000;
    --cta-button: #1fa72e;
    --logo-color: #a90e0e;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

a, a:visited, a:link{
    color: #eee;
    text-decoration: none;
}

body{
    background: var(--background);
    font-size: 2rem;
}

.nav{
    width: 100%;
    background: rgba(4, 114, 4, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    color: #eee;
    padding: 2rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.list{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.cta{
    width: 11rem;
    padding: 0.5rem;
    font-size: 70%;
    background: var(--cta-button);
    border: none;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: uppercase;
}

.cta:hover{
    cursor: pointer;
    background: hsl(37, 99%, 59%);
    transition: 0.2s;
}

.banner{
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner > figure{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(236, 15, 15, 0.5), 80%, rgba(23, 220, 16, 0.5)), url("../img/mark1.png");
    background-position: bottom;
    background-size: cover;
}

.banner > figure> div{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    color: #eee;
    text-align: center;
}

.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
}

.heading2{
    font-family: 'Dancing Script', cursive;
    font-size: 380%;
}

.logo{
    font-size: 250%;
    color: #059635;
    border: 0.5rem solid var(--logo-color);
    border-radius: 55%;
    padding: 1.5rem;
}

.over{
    padding: 4rem;
    height: 80rem;
    border-bottom: 0.2rem solid var(--logo-color);
}

.over > header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.over > header > h2{
    color: #eee;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}

.over > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.over > div > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.over > div > div >  p{
    width: 55ch;
    color: #eee;
}

.over > div > figure > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.over > div> figure{
    position: relative;
    
    width: 40rem;
    height: 60rem;
}

.over > div > figure::after{
    content: "";
    background: linear-gradient(to bottom right, rgba(95, 95, 95, 0.5), 80%, rgba(180, 180, 179, 0.5));
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.kenmerken{
    border-bottom: 0.2rem solid var(--logo-color);
    padding: 4rem;
}

.kenmerken > header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 20%;
}

.kenmerken > header > h2{
    color: #eee;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}

.onzeKenmerken{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.kenmerk{
    list-style: none;
    color: #eee;
    width: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kenmerk > p{
    width: 30ch;
    text-align: center;
}

.kenmerkIcon{
    font-size: 180%;
    border: 0.1rem solid var(--cta-button);
    padding: 2rem;
    border-radius: 50%;
}

.gallerij{
    height: 80vh;
}

.gallerij > header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6rem;
}

.gallerij > header > h2{
    color: #eee;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.foto{
    width: 25%;
    height: 400%;
    position: relative;
}

.foto > section{
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgba(67, 67, 67, 0.5), 80%, rgba(97, 97, 97, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.8s;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto > section > .cta{
    opacity: 0;
    transition-delay: 0.8s;
    transition-duration: 0.2s;
}

.foto:hover > section > .cta{
    opacity: 1;
}

.foto:hover > section{
    transform: scale(1);
}

.foto > img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 75rem){
    .body{
        font-size: 1.6rem;
    }
    .banner{
        height: 140rem;
    }
    .over{
        min-height: 120rem;
    }
    .over > header{
        height: 20%;
    }
    .over > div{
        flex-direction: column;
        height: 80%;
    }
    .over > div > div{
        height: 60%;
    }
    .over > div > div> p{
        width: 100%;
    }
    .over > div > figure{
        width: 100%;
        height: 40%;
    }
    .kenmerken{
        min-height: 120rem;
    }
    .kenmerk{
        width: 100%;
    }
    .gallerij{
        height: auto;
    }
    .foto{
        flex-wrap: wrap;
    }
    .foto{
        height: 20rem;
        width: 100%;
    }
    .foto:hover > section > .cta{
        opacity: 0;
    }
    .foto:hover > section{
        transform: scale(0);
    }
}

@media  screen and (max-width: 50rem) {
    .list{
        flex-direction: column;
    }
}