*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;/*1rem = 10px*/
}

body{
    font-size: 2rem;

}

.nav{
    width: 100vw;
    background-color: blue;
    display:flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
}

.list{
    display:flex;
    list-style: none;
    gap: 2rem;

}