$darkest:  #860808;
$darkest-transparent: #00000000;
$nav: #cc000000;
$button: #0d3ee1;
$highlight: #f9f9f9;
$border-pink: 0.5rem solid $highlight;
$border-pink-small: 0.2rem solid $highlight;
$text: #eee;
$linear-gradient--default: linear-gradient(to bottom right, rgba(31, 244, 49, 0.5), 80%, rgba(246, 4, 4, 0.5));